*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    /* border: 3px solid red; */
    /* margin-top:5vh; */
}

.box-1{
     width: 300px;
     height: 300px;
}

.box-2{
    width: 300px;
    height: 300px;
}

.box-3{
    width: 300px;
    height: 300px;
}

.img{
    width: 20vw;
    object-fit: cover;
}



.footer{
    margin-top: 30vh;
    background-color: white;
    color: black;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
  
  }
  .icon{
      display: flex;
      justify-content: space-evenly;
      list-style: none;
  }

  a{
      text-decoration: none;
      color: black;

  }
  
  .headings{
    color: red;
    text-transform: uppercase;
    padding: 15px;
  }
  
  .info{
    padding: 15px;
  list-style: none;
  }
  
  .icons{
    align-items: center;
  }
  
  
  .line{
      border-top: 1px solid red;
      display: flex;
      justify-content: center;
  }
  
  .bottom-footer{
      background-color: black;
      color: white;
      /* border-top: 1px solid #E8E8E8; */
      display: flex;
      justify-content: center;
  }
