.button{
    background-color: red;
    padding: 10px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0,2);
}

.modal-content{
    background-color: grey;
    margin: 20% auto ;
    padding: 20px;
    width: 50%;
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn{
    color: red ;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container{
    display: flex;
  flex-direction: row;
}

.discription{

}

.cart{

}

.img-cap{
    width: 20vw;
}

@keyframes modalopen{
    from{ opacity: 0;}
    to{ opacity: 1;}
}