* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
   
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Cinzel", serif;
    color: black;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
  }

  .header-container{
    display: flex;
    justify-content: space-evenly;
  }
  

  .H-img{
    width: 20vw;
    object-fit: cover;
  }

  .img-outfits, .img-ls{
    width: 30vh;
  }

  .img-outfit{
    width: 20vh;
  }

  .img-headwear{
    width: 33vh;
  }

  .img-beanie{
    width: 22vh;
  }

  .img-tops{
    width: 25vh;
  }

  .img-tee{
    width: 41vh;
  }

  .img-polo{
    width: 24vh;
  }
  .img-puffer{
    width: 40vh;
  }
  .top{
    border: 2px solid;
    display: flex;
    justify-content: end;
    background: red;
  }
  
  .top-opt{
    color: black;

  }

  .opt{
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid red; */
    align-items: center;
    font-size: 20px;
    padding: 40px;

  }

.option{
  text-decoration: none;
  color: black;
}

  
  .row {
    background:white;
    display:flex;
    /* justify-content:space-between; */
    align-items:center;
    padding:20px; 
    margin-top: 0%;
    justify-content: center;
  }
  .productName{
    display: flex;
    justify-content: center;
  }


  #filter {
    border-radius:5px;
    width:400px;
    padding:10px;
    border: 3px solid red;
    margin-top: 40%;
  }

  
    .fas {
      font-size: 5rem;
    }
  
    .opt{
      display: flex;
      justify-content: space-evenly;
      /* border: 3px solid red; */
      align-items: center;
      font-size: 20px;
      padding: 40px;
    }
  

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 10vh;
    margin: 0 auto 75px;
    width: 85%;
  }
  .card-body {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
    font-family: "Lora", serif;
    margin: 25px 0;
    min-height: 515px;
    overflow: hidden;
    width: 100%;
    height: 60vh;
  }

  .content-img {
    overflow: hidden;
  }
  

  .card-body .card-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 315px;
    background-color: #f2f2f2;
  }
  

  .card-text p.tag {
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    color: #898989;
    letter-spacing: 3px;
    margin-top: 5.5vh;
    text-transform: uppercase;
  }


  .card-text h2 {
    font-size: 1.75rem;
    margin-top: 25px;
  }
  .card-text p.text {
    font-size: 0.95rem;
    margin: 20px auto;
    text-align: center;
    width: 85%;
  }
  .card-button {

    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    margin-top: 15px;
    padding: 7.5px 25px;
    transition: all 0.5s ease;
  }
  .user-cart {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: -100%;
    background-color: #a0522d;
    transition: all 0.3s linear;
}

.user-cart.show {
    top: 0;
    background-color: #e47900;
}

.container{
    display: flex;
   justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.top-container{
    display: flex;
    width: 20%;
}

.amount{
    width: 50px;
border: solid 1px red;
background: red;
}

.addItem{
    padding: 10px;
    border: 2px solid black;
    background: red ;
    color: white;
    justify-content: center;
}

.cart-button{
    display: flex;
    justify-content: center;
    margin-top: 32vh;
}

.btn{
    background: black;
color: white;
margin: 10px;
}

.main-button{
    text-decoration: none;
    border: 2px solid black;
    width: 100px;
    padding: 5px;
    color: black;

}

.mainBtn{
  display: flex;
  justify-content: center;
}

.pop-button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .pop-button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    background: red;
color: white;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    /* overflow: auto; */
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


.right-cart{
    display: flex;

}
.button{
    display: flex;
}

.cart{
    display: flex;
}

.fa{
    font-size: 2rem;
}

.btn{
 padding: 10px;
}

  
  .content-img{
    display: flex;
    justify-content: center;
  }
  .img-puffer, .img-hoody{
    width: 15vw ;
  }

  .img-hat{
    width: 20vw;
  }
  
  .more-info{
    letter-spacing: 10px;
  text-transform: uppercase;
  color: white;

  }

  .footer{
    margin-top: 5%;
    background-color: white;
    color: black;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
  
  }
  
  .headings{
    color: red;
    text-transform: uppercase;
    padding: 15px;
  }
  
  .info{
    padding: 15px;
  list-style: none;
  }
  
  .icon{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.viewMore{
  border: 2px solid red;
  padding: 5px;
  text-decoration: none;
  color: red;
}


a{
  text-decoration: none;
  color: black;
}

.fab{
  font-size: 2rem;
}


.viewBtn{
  display: flex;
  justify-content: center;
}
  
  
  .line{
      border-top: 1px solid red;
      display: flex;
      justify-content: center;
  }
  
  .bottom-footer{
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
  }

  .button{
    background-color: red;
    padding: 10px;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0,2);
}

.modal-content{
    background-color: grey;
    margin: 20% auto ;
    padding: 20px;
    width: 50%;
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn{
    color: red ;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container{
    display: flex;
  flex-direction: row;
}

.img-cap{
    width: 20vw;
}

@keyframes modalopen{
    from{ opacity: 0;}
    to{ opacity: 1;}
}

@media  (max-width: 414px) {
  #filter{
    width: 300px;
    margin-top: 60%;
    margin-left: -44%;
  }
  .H-img{
    margin-left: 50%;
    width: 74vw;
  }

  .card-body .card-text{
    min-height: 200px;
  }
  .headings{
    font-size: 10px;
  }
  .icon{
    flex-direction: column;
  }
  
}

@media (max-width: 770px) {
  .container{
    display: flex;
    flex-direction: inherit;
  }

  #filer{
    margin-top: 40%;

  }

  
}

  @media (max-width: 1002px) {
    img {
      width: 39vw;
      height: 22vh;
    }
  }
  
  @media (max-width: 360px) {
    img {
      width: 85vw;
    }
  }
  
  @media (max-width: 766px) {
    img {
      width: 85vw;
      height: 35vh;
    }
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card-body {
      margin: 25px 10px;
      width: 45%;
    }


  }
  @media (min-width: 1024px) {
    .card-body {
      margin: 25px 15px;
      width: 30%;
    }
  }

  @media (min-width: 768px) {
    .card-body .card-text {
      padding-bottom: 25px;
    }
  }
  @media (min-width: 1024px) {
    .card-body .card-text {
      margin-top: 25px;
      min-height: 200px;
      padding-bottom: 0;
    }
  }

  @media (min-width: 1024px) {
    .card-text p.tag {
      margin-top: 3.5vh;
    }
  }

  